{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "printWidth": 160
}
